.wrapper {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 40%;
  height: 100%;

  label {
    visibility: hidden;
  }
  span {
    margin-left:  2rem;
  }
}

.input {

  max-width: 624px;
  max-height: 64px;
  font-size: 1.375rem;
  font-weight: 600;
  color: #656EC2;
  border: none;
  box-shadow: 0 4px 7px rgba(101, 110, 194, 0.2);
  padding: 0.6rem 2rem;
}